body img {
  display: block;
  width: 100%;
  height: 100%;
}

h3.second_heading {
  text-align: center;
  font-size: 28px;
  color: #E88F2A;
}

h5.third_heading {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}

div.line {
  border-radius: 10px;
  width: 150px;
  height: 6px;
  background-color: #E88F2A;
  display: block;
  margin: 0 auto 50px;
}

section.top-quick-order {
  padding: 0 140px;
  display: block;
  margin: 0 auto;
  background-color: #FAF3EB;
}
section.top-quick-order ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.top-quick-order ul li {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
section.top-quick-order ul li:last-child {
  margin-right: 0;
}
section.top-quick-order ul li div.quick-icon {
  margin-right: 14px;
  width: 30px;
  height: 30px;
  display: block;
}
section.top-quick-order ul li div.quick-info h6 {
  color: #000;
  font-size: 18px;
  font-weight: 400;
}
section.top-quick-order ul li div.quick-info a {
  font-size: 16px;
  color: gray;
}
section.top-quick-order ul li div.quick-info a:hover {
  color: #E88F2A;
}
section.top-quick-order ul li div.shop-name {
  padding: 10px;
  background-color: #E88F2A;
  display: flex;
  align-items: center;
}
section.top-quick-order ul li div.shop-name a.main-logo {
  margin-right: 10px;
  width: 120px;
  display: block;
}
section.top-quick-order ul li div.shop-name h1 {
  color: #fff;
  text-align: center;
  padding: 10px 80px 10px 0;
  font-size: 36px;
  font-weight: 900;
}

header {
  padding: 30px 100px;
  background: #50514F;
}
header nav.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav.navbar div.shop-name {
  background-color: #E88F2A;
  display: none;
  align-items: center;
}
header nav.navbar div.shop-name a.main-logo {
  margin-right: 10px;
  width: 150px;
  display: block;
}
header nav.navbar div.shop-name h1 {
  color: #fff;
  text-align: center;
  padding: 0px;
  font-size: 20px;
  font-weight: 900;
}
header nav.navbar ul.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header nav.navbar ul.nav-menu li.nav-item {
  margin-right: 25px;
}
header nav.navbar ul.nav-menu li.nav-item:last-child {
  margin-right: 0;
}
header nav.navbar ul.nav-menu li.nav-item a {
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
header nav.navbar ul.nav-menu li.nav-item a:hover {
  color: #E88F2A;
}
header nav.navbar div.hamburger {
  display: none;
}
header nav.navbar div.hamburger span.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: cyan;
}

#spotlight {
  background: url("../assets/s.jpg") no-repeat top right;
  background-size: cover;
  min-height: 85vh;
  color: #fff;
}
#spotlight div.spotlight-contents {
  padding-top: 20%;
}
#spotlight div.spotlight-contents h2.cake-shop-name {
  font-size: 58px;
  font-weight: 900;
  color: #E88F2A;
}
#spotlight div.spotlight-contents h6 {
  margin: 20px 0 40px;
  font-size: 28px;
  font-weight: 600;
}
#spotlight div.spotlight-contents div.both-spotlight-buttons {
  display: flex;
  align-items: center;
}
#spotlight div.spotlight-contents div.both-spotlight-buttons a {
  color: #fff;
  margin-right: 20px;
  background: #E88F2A;
  display: inline-block;
  padding: 20px 16px;
  background-color: #E88F2A;
}
#spotlight div.spotlight-contents div.both-spotlight-buttons a:hover {
  background-color: #fff;
  color: #E88F2A;
}
#spotlight div.spotlight-contents div.both-spotlight-buttons a:hover span {
  border: 1px solid #E88F2A;
}
#spotlight div.spotlight-contents div.both-spotlight-buttons a span {
  border: 1px solid #fff;
  font-weight: 900;
  letter-spacing: 1px;
  padding: 10px 20px;
}

#about {
  background-color: #fff;
  padding: 100px 0;
}
#about h5.third_heading {
  font-size: 48px;
}
#about section.for-common-flex {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
#about section.for-common-flex div.common-child {
  width: 48%;
}
#about section.for-common-flex div.left-about {
  margin-right: 50px;
  height: auto;
}
#about section.for-common-flex div.left-about div.about-image {
  min-width: 400px;
  width: auto;
  height: 400px;
  display: block;
}
#about section.for-common-flex div.left-about div.about-image img {
  border-radius: 10px;
}
#about section.for-common-flex div.right-about p {
  opacity: 0.6;
}
#about section.for-common-flex div.right-about section.all-locations {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#about section.for-common-flex div.right-about section.all-locations a {
  margin: 0px 10px 10px 0;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  background-color: #E1E2EF;
  padding: 4px 8px;
}
#about section.for-common-flex div.right-about section.all-locations a:hover {
  background-color: #E88F2A;
}
#about section.for-common-flex div.right-about section.all-locations div.location-icon {
  display: block;
  width: 20px;
  margin-right: 10px;
}
#about section.for-common-flex div.right-about section.all-locations span {
  color: #000;
  font-weight: 400;
}

#menu {
  padding: 100px 0;
  background-color: #FAF3EB;
}
#menu section.all_products {
  margin: 10px 0 0 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#menu section.all_products div.each_product {
  width: 30%;
  background-color: #E88F2A;
  margin: 10px 20px 20px 0;
  border-radius: 10px 10px 10px 10px;
  max-height: 450px;
}
#menu section.all_products div.each_product:nth-child(3n) {
  margin-right: 0;
}
#menu section.all_products div.each_product div.product_image {
  display: block;
  height: 300px;
}
#menu section.all_products div.each_product div.product_image img {
  border-radius: 10px 10px 0px 0px;
}
#menu section.all_products div.each_product div.product_info {
  text-align: center;
  padding: 10px 0px;
}
#menu section.all_products div.each_product div.product_info h6 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
#menu section.all_products div.each_product div.product_info p.price {
  font-size: 20px;
  font-weight: 500;
  color: #E88F2A;
}
#menu section.all_products div.each_product div.product_info section.price-and-rating {
  padding: 10px 10px;
  border-radius: 10px;
  background-color: #E88F2A;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#menu section.all_products div.each_product div.product_info section.price-and-rating div.only-price p.price {
  color: #000;
  font-weight: 600;
}
#menu section.all_products div.each_product div.product_info section.price-and-rating div.only-price p.crossed-price {
  text-decoration: line-through;
}
#menu section.all_products div.each_product div.product_info section.price-and-rating div.rating {
  display: flex;
  align-items: center;
  background-color: #4F9D69;
  padding: 6px;
  border-radius: 10px;
}
#menu section.all_products div.each_product div.product_info section.price-and-rating div.rating p.rated {
  color: #fff;
}
#menu section.all_products div.each_product div.product_info section.price-and-rating div.rating div.rating {
  width: 30px;
  display: block;
}
#custom {
  background-color: #E88F2A;
  padding: 20px 0 40px;
  color: #fff;
}
#custom ul {
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
#custom ul li div.custom-cake-img {
  padding: 40px 0;
  margin-right: 50px;
  width: 400px;
  display: block;
}
#custom ul li h6 {
  color: #000;
  font-size: 20px;
}
#custom ul li h5 {
  font-size: 28px;
  font-weight: 900;
  margin: 20px 0;
}
#custom ul li h4 {
  font-weight: 400;
  margin: 20px 0;
  font-size: 20px;
}
#custom ul li div.order-options {
  display: flex;
  align-items: center;
}
#custom ul li div.order-options a {
  margin-right: 20px;
}
#custom ul li div.order-options a:hover {
  transform: scale(1.2);
  -webkit-transition: transform 500ms ease-in-out;
}
#custom ul li div.order-options a div.order-image {
  width: 50px;
  display: block;
}
#custom p.offer {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  color: #fff;
}

#services {
  padding: 100px 0;
  background-color: #fff;
}
#services ul {
  margin: 20px 0 0 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#services ul li {
  min-height: 300px;
  border: 1px solid;
  border-color: rgba(255, 200, 133, 0.6);
  padding: 40px 20px;
  display: block;
  margin: 0 auto 15px;
  width: 32%;
}
#services ul li div.service-image {
  margin: 0 auto;
  width: 70px;
  height: 70px;
  display: block;
}
#services ul li div.service-image img {
  border: 1px solid #E88F2A;
  padding: 15px;
  border-radius: 50%;
}
#services ul li h6 {
  margin: 10px 0;
  color: #E88F2A;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
#services ul li p {
  opacity: 0.6;
  display: block;
  margin: 0 auto;
  text-align: center;
}

#chefs {
  padding: 80px 100px;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #FAF3EB;
}
#chefs ul {
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
#chefs ul li {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: block;
  margin: 0 auto 50px;
  padding: 30px 0px;
  width: 31%;
  min-height: 350px;
  max-height: 400px;
}
#chefs ul li div.chef-image {
  width: 150px;
  margin: 0 auto;
  display: block;
}
#chefs ul li div.chef-image img {
  border-radius: 50%;
}
#chefs ul li h6 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
}
#chefs ul li p.chef-description {
  text-align: center;
  margin: 10px auto;
  width: 80%;
}
#chefs ul li div.chef-social-icons {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
#chefs ul li div.chef-social-icons a {
  margin-right: 15px;
}
#chefs ul li div.chef-social-icons a:hover {
  transform: scale(1.2);
  transition: 0.3s;
  background-color: #E88F2A;
}
#chefs ul li div.chef-social-icons a img {
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
}

#testimonial {
  background-color: #fff;
  padding: 100px 0;
  text-align: center;
}
#testimonial div.line {
  margin-bottom: 30px;
}
#testimonial ul li {
  text-align: left;
  width: 100%;
  border-radius: 8px;
  background: rgba(255, 243, 239, 0.6);
  padding: 55px 30px 45px;
  position: relative;
  margin-top: 16px;
}
#testimonial ul li div.image {
  position: absolute;
  left: 30px;
  top: -15px;
  z-index: 1;
  display: block;
}
#testimonial ul li p {
  font-size: 18px;
  line-height: 1.5715;
  margin-bottom: 30px;
}
#testimonial ul li div.testimoni {
  display: flex;
  align-items: center;
}
#testimonial ul li div.testimoni div.avatar {
  font-size: 16px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E88F2A;
}
#testimonial ul li div.testimoni span {
  font-size: 15px;
  text-transform: uppercase;
  margin-left: 10px;
  font-weight: 600;
}

#faq {
  padding: 100px 80px 80px;
  background-color: #FAF3EB;
}
#faq section.questions {
  margin-top: 50px;
  padding-bottom: 50px;
}
#faq section.questions div.clickable {
  margin-bottom: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 3px 3px #888888;
  cursor: pointer;
}
#faq section.questions div.clickable ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 18px 0;
}
#faq section.questions div.clickable ul li h6 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-left: 40px;
  text-align: left;
  font-weight: 400;
}
#faq section.questions div.clickable ul li div.dropdown {
  margin-right: 20px;
  margin-left: 10px;
}
#faq section.questions div.clickable div.clicked {
  padding: 15px 20px 15px 0;
  background: #FAF3EB;
  display: none;
  height: auto;
  transition: opacity 0.5s linear;
}
#faq section.questions div.clickable div.clicked p {
  padding-left: 20px;
  font-size: 16px;
  margin-left: 40px;
}

#other-locations {
  padding: 100px 0;
  background-color: #E88F2A;
}
#other-locations h3 {
  color: #fff;
}
#other-locations div.line {
  background-color: white;
}
#other-locations ul {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#other-locations ul li {
  border-radius: 6px;
  background-color: #FAF3EB;
  padding: 30px;
  border: 1px solid #fff;
  width: 31%;
  margin: 0 10px 10px 0;
  min-height: 250px;
  max-height: 250px;
}
#other-locations ul li p.place-name {
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  color: #E88F2A;
}
#other-locations ul li div.each-info {
  margin: 0 0 10px 0;
  display: flex;
  align-items: center;
}
#other-locations ul li div.each-info div.info-icon {
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 10px;
}
#other-locations ul li div.each-info a:hover {
  color: #E88F2A;
}
#other-locations ul li div.each-info p {
  font-size: 14px;
}

footer {
  background: #FAF3EB;
  color: #000;
  padding: 80px 100px 50px;
}
footer #contact {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
footer #contact a {
  color: #000;
  margin-bottom: 10px;
  display: block;
}
footer #contact ul.main-ul {
  display: flex;
}
footer #contact ul.main-ul li {
  margin-right: 150px;
}
footer #contact ul.main-ul li:last-child {
  margin-right: 0;
}
footer #contact ul.main-ul li h4 {
  letter-spacing: 1px;
  font-size: 28px;
  color: red;
  font-weight: 900;
  margin-bottom: 20px;
}
footer #contact ul.main-ul li a:hover {
  font-size: 18px;
  transition: 0.3s;
}
footer #contact ul.main-ul li div.address_etc div.both-image-and-detail {
  display: flex;
}
footer #contact ul.main-ul li div.address_etc div.both-image-and-detail div.detail-image {
  width: 20px;
  display: block;
  margin-right: 15px;
}
footer #contact ul.main-ul li div.address_etc div.both-image-and-detail div.detail-image svg {
  color: #000;
}
footer #contact ul.main-ul li div.address_etc div.both-image-and-detail p {
  margin: 0px 0 10px;
}
footer #contact ul.main-ul li div.address_etc div.both-image-and-detail p {
  font-size: 16px;
}
footer #contact ul.main-ul li div.address_etc div.both-image-and-detail p a:hover {
  text-decoration: underline;
  transition: 1000ms;
}
footer #contact ul.main-ul li ul.social-media {
  display: flex;
  align-items: center;
}
footer #contact ul.main-ul li ul.social-media li {
  margin-right: 0;
}
footer #contact ul.main-ul li ul.social-media li a {
  margin-right: 10px;
}
footer #contact ul.main-ul li ul.social-media li a:hover {
  background-color: #E88F2A;
}
footer #contact ul.main-ul li ul.social-media li a div.each-social {
  border-radius: 50%;
  padding: 6px;
  width: 40px;
  display: block;
}
footer #contact ul.main-ul li ul.social-media li a div.each-social:hover {
  transform: scale(1.5);
  transition: 0.5s;
}
footer #contact ul.main-ul li ul.social-media li a div.each-social img {
  color: #000;
}
footer #contact ul.main-ul li p.day {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 400;
}
footer #contact ul.main-ul li p.time {
  letter-spacing: 1px;
  margin: 10px 0;
  font-size: 16px;
}

@media all and (max-width: 1200px) {
  section.top-quick-order ul li div.shop-name h1 {
    padding: 10px 20px 10px 0;
    font-size: 36px;
  }
  section.top-quick-order {
    padding: 0 50px;
  }
  #services ul li {
    min-height: 360px;
    padding: 40px 20px;
    margin: 0 auto 15px;
    width: 32%;
  }
  #other-locations ul li div.each-info p {
    font-size: 14px;
    width: 80%;
  }
  footer {
    padding: 80px 80px 50px;
  }
}
@media all and (max-width: 980px) {
  #about, #menu, #services, #chefs, #testimonial, #faq, #other-locations {
    padding: 60px 0;
  }
  section.top-quick-order ul li div.shop-name h1 {
    padding: 10px 20px 10px 0;
    font-size: 28px;
  }
  section.top-quick-order {
    padding: 0 40px;
  }
  #about section.for-common-flex div.left-about div.about-image {
    min-width: 300px;
    width: auto;
    height: 350px;
  }
  #about section.for-common-flex div.right-about {
    width: 52%;
  }
  #menu section.all_products div.each_product {
    width: 47%;
    margin: 10px 20px 20px 0;
    border-radius: 10px 10px 10px 10px;
    max-height: unset;
  }
  #menu section.all_products div.each_product:nth-child(3n) {
    margin-right: 20px;
  }
  #menu section.all_products div.each_product:nth-child(2n) {
    margin-right: 0;
  }
  #menu section.all_products div.each_product div.product_image {
    height: 250px;
  }
  #menu section.all_products div.each_product div.product_info section.price-and-rating {
    padding: 0px 10px;
    border-radius: 10px;
  }
  #services ul li {
    min-height: 300px;
    padding: 40px 20px;
    margin: 0 auto 15px;
    width: 48%;
  }
  #custom ul li div.custom-cake-img {
    padding: 40px 0;
    margin-right: 50px;
    width: 300px;
  }
  #chefs ul li div.chef-image {
    width: 120px;
  }
  #chefs ul li {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin: 0 auto 50px;
    padding: 30px 0px;
    width: 31%;
    min-height: 350px;
    max-height: 350px;
  }
  #chefs ul li h6 {
    font-size: 16px;
  }
  #chefs ul li p.chef-description {
    width: 100%;
    font-size: 15px;
  }
  #other-locations ul li {
    padding: 20px;
    margin: 0 10px 10px 0;
    min-height: 250px;
    max-height: 250px;
  }
  footer {
    padding: 80px 0 50px;
  }
  footer #contact ul.main-ul {
    flex-wrap: wrap;
  }
  footer #contact ul.main-ul li {
    margin-right: 50px;
  }
}
@media all and (max-width: 860px) {
  section.top-quick-order ul li div.quick-info h6 {
    font-size: 16px;
  }
  section.top-quick-order ul li div.shop-name h1 {
    padding: 10px 10px 10px 0;
    font-size: 22px;
  }
  #about section.for-common-flex {
    flex-wrap: wrap;
  }
  #about section.for-common-flex div.left-about {
    margin-right: 0px;
    height: auto;
  }
  #about section.for-common-flex div.common-child {
    width: 100%;
    text-align: center;
  }
  #about section.for-common-flex div.left-about div.about-image {
    min-width: unset;
    width: 400px;
    height: 350px;
    margin: 0 auto 50px;
  }
  #about section.for-common-flex div.right-about section.all-locations {
    margin-top: 30px;
    display: inline-block;
  }
  #chefs ul li div.chef-social-icons a img {
    width: 25px;
    height: 25px;
  }
  #chefs ul li {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin: 0 auto 50px;
    padding: 30px 0px;
    width: 31%;
    min-height: 330px;
    max-height: 330px;
  }
  #other-locations ul li {
    padding: 20px;
    width: 48%;
    margin: 0 10px 10px 0;
    min-height: 210px;
    max-height: 210px;
  }
  #other-locations ul li div.each-info p {
    font-size: 14px;
    width: 100%;
  }
}
@media all and (max-width: 768px) {
  #about h5.third_heading, h5.third_heading {
    font-size: 36px;
  }
  h3.second_heading {
    font-size: 24px;
  }
  section.top-quick-order {
    display: none;
  }
  header {
    padding: 20px 60px;
    background-color: #E88F2A;
  }
  header nav.navbar div.shop-name {
    display: flex;
  }
  header nav.navbar {
    justify-content: space-between;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #E88F2A;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    padding: 0 100px;
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 0 0 30px 0;
  }
  .nav-item:first-child {
    margin-top: 20px;
  }
  html body header nav.navbar div.hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  ul.nav-menu li.nav-item {
    margin-right: 0;
  }
  ul.nav-menu li.nav-item a {
    font-size: 16px;
    font-weight: 900;
  }
  #menu section.all_products div.each_product div.product_info h6 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  #menu section.all_products div.each_product div.product_info section.price-and-rating div.only-price p.price {
    font-size: 18px;
  }
  #menu section.all_products div.each_product div.product_info section.price-and-rating div.only-price p.crossed-price {
    font-size: 15px;
  }
  #menu section.all_products div.each_product div.product_info section.price-and-rating div.rating p.rated {
    font-size: 15px;
  }
  #custom ul li div.custom-cake-img {
    padding: 40px 0;
    margin-right: 30px;
    width: 250px;
  }
  #chefs ul li {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin: 0 auto 50px;
    padding: 30px 0px;
    width: 48%;
    min-height: 320px;
    max-height: 320px;
  }
  #faq {
    padding: 50px 50px;
  }
  #faq section.questions div.clickable ul li h6 {
    font-size: 16px;
  }
  #faq section.questions div.clickable div.clicked p {
    padding-left: 20px;
    font-size: 15px;
    margin-left: 40px;
  }
  #faq section.questions div.clickable ul li div.dropdown {
    margin-right: 16px;
    width: 20px;
  }
  footer {
    padding: 50px 0;
  }
  footer #contact ul.main-ul li {
    width: 100%;
    text-align: center;
    margin-right: 0;
    display: block;
    margin: 0 auto 20px;
  }
  footer #contact ul.main-ul li.shop-time {
    order: 1;
  }
  footer #contact ul.main-ul li.contact-details {
    order: 2;
  }
  footer #contact ul.main-ul li.contact-links {
    order: 3;
  }
  footer #contact ul.main-ul li div {
    width: -moz-fit-content;
    width: fit-content;
    display: block;
    margin: 0 auto;
  }
  footer #contact ul.main-ul li div.address_etc div.both-image-and-detail {
    align-items: center;
  }
  footer #contact ul.main-ul li ul.social-media li {
    width: auto;
    display: block;
    margin: 0 auto;
  }
  footer #contact ul.main-ul li ul.social-media {
    margin: 0 100px;
  }
}
@media all and (max-width: 640px) {
  #about, #menu, #services, #chefs, #testimonial, #faq, #other-locations {
    padding: 40px 0;
  }
  header {
    padding: 20px 30px;
  }
  header nav.navbar div.shop-name a.main-logo {
    width: 120px;
  }
  header nav.navbar div.shop-name h1 {
    font-size: 16px;
  }
  #spotlight div.spotlight-contents div.both-spotlight-buttons a {
    padding: 16px 14px;
  }
  #spotlight div.spotlight-contents div.both-spotlight-buttons a span {
    letter-spacing: 1px;
    padding: 8px 16px;
  }
  #about section.for-common-flex div.left-about div.about-image {
    width: 350px;
    height: 300px;
  }
  #menu section.all_products div.each_product {
    width: 90%;
    margin: 10px auto 20px;
    display: block;
    border-radius: 10px;
  }
  #menu section.all_products div.each_product:nth-child(3n) {
    margin-right: auto;
  }
  #menu section.all_products div.each_product:nth-child(2n) {
    margin-right: auto;
  }
  #menu section.all_products {
    margin: 10px auto 0;
    display: block;
    width: inherit;
  }
  #services ul li {
    min-height: 260px;
    padding: 30px 15px;
    margin: 0 auto 15px;
    width: 100%;
  }
  #custom {
    text-align: center;
    padding: 0 0 20px;
  }
  #custom ul {
    flex-wrap: wrap;
  }
  #custom ul li {
    width: 100%;
  }
  #custom ul li h6 {
    font-size: 16px;
  }
  #custom ul li h5 {
    font-size: 24px;
    margin: 10px 0;
  }
  #custom ul li h4 {
    margin: 10px 0;
    font-size: 18px;
  }
  #custom ul li div.custom-cake-img {
    width: 250px;
    display: block;
    margin: 0 auto;
    padding: 40px 0 20px;
  }
  #custom ul li div.order-options {
    display: inline-flex;
  }
  #custom ul li div.order-options a div.order-image {
    width: 40px;
    display: block;
  }
  #custom p.offer {
    font-size: 20px;
    margin-top: 10px;
  }
  #chefs ul li {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin: 0 auto 50px;
    padding: 30px 0px;
    width: 100%;
    min-height: 300px;
    max-height: unset;
  }
  #faq section.questions div.clickable div.clicked p {
    padding-left: 10px;
    font-size: 15px;
    margin-left: 20px;
  }
  #faq section.questions div.clickable ul li h6 {
    margin-left: 20px;
  }
  #faq {
    padding: 50px 30px;
  }
  #other-locations ul li {
    padding: 20px;
    width: 100%;
    margin: 0 0px 10px 0;
    min-height: unset;
    max-height: unset;
  }
  footer {
    padding: 50px 0 0px;
  }
}
@media all and (max-width: 480px) {
  #about h5.third_heading, h5.third_heading {
    font-size: 28px;
    margin-bottom: 10px;
  }
  h3.second_heading {
    font-size: 20px;
  }
  div.line {
    width: 150px;
    height: 4px;
    margin: 0 auto 50px;
  }
  header {
    padding: 15px;
  }
  header nav.navbar div.shop-name a.main-logo {
    width: 100px;
  }
  header nav.navbar div.shop-name h1 {
    font-size: 14px;
  }
  #spotlight div.spotlight-contents div.both-spotlight-buttons {
    flex-direction: column;
  }
  #spotlight div.spotlight-contents div.both-spotlight-buttons a {
    margin: 0 0 20px 0;
  }
  #spotlight div.spotlight-contents {
    padding-top: 14%;
  }
  #about section.for-common-flex div.left-about div.about-image {
    width: 280px;
    height: 250px;
    margin-bottom: 30px;
  }
  #about section.for-common-flex div.right-about p {
    font-size: 15px;
  }
  #about section.for-common-flex div.right-about section.all-locations span {
    font-size: 15px;
  }
  #about section.for-common-flex div.right-about section.all-locations div.location-icon {
    width: 15px;
    margin-right: 4px;
  }
  #menu section.all_products div.each_product {
    width: 100%;
  }
  #menu section.all_products div.each_product div.product_image {
    height: 200px;
  }
  #services ul li div.service-image {
    width: 60px;
    height: 60px;
  }
  #services ul li div.service-image img {
    padding: 10px;
  }
  #services ul li h6 {
    font-size: 18px;
  }
  #services ul li p {
    font-size: 15px;
  }
  #faq {
    padding: 40px 20px;
  }
  #faq section.questions {
    padding-bottom: 0px;
  }
  #testimonial {
    padding: 40px 0;
  }
  #testimonial ul li p {
    font-size: 16px;
  }
  #testimonial ul li {
    padding: 55px 30px 30px;
  }
  footer #contact ul.main-ul li h4 {
    font-size: 24px;
  }
  footer #contact ul.main-ul li a {
    font-size: 14px;
  }
  footer #contact ul.main-ul li div.address_etc div.both-image-and-detail p {
    font-size: 14px;
  }
  footer #contact ul.main-ul li p.day {
    font-size: 16px;
  }
  footer #contact ul.main-ul li p.time {
    font-size: 14px;
  }
}
@media all and (max-width: 360px) {
  #spotlight {
    min-height: 80vh;
    padding-bottom: 30px;
  }
  #spotlight div.spotlight-contents h2.cake-shop-name {
    font-size: 52px;
  }
  #spotlight div.spotlight-contents h6 {
    margin: 20px 0 40px;
    font-size: 24px;
  }
  #spotlight div.spotlight-contents div.both-spotlight-buttons a span {
    font-size: 14px;
    padding: 6px 12px;
  }
  #spotlight div.spotlight-contents div.both-spotlight-buttons a {
    padding: 14px 12px;
  }
  #about section.for-common-flex div.right-about p {
    font-size: 14px;
  }
  #about section.for-common-flex div.right-about section.all-locations span {
    font-size: 14px;
  }
  #menu section.all_products {
    width: unset;
  }
  #faq section.questions div.clickable div.clicked p {
    padding-left: 10px;
    font-size: 14px;
    margin-left: 20px;
  }
  #faq section.questions div.clickable ul li h6 {
    font-size: 15px;
  }
  footer #contact ul.main-ul li ul.social-media {
    margin: 0 70px;
  }
}
div.bottom-us {
  background: #fff;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #000;
}
div.bottom-us p a {
  color: red;
  font-size: 16px;
  font-weight: 700;
}
div.bottom-us p a:hover {
  font-size: 18px;
  transition: 0.3s;
}

a.for-whatsapp-image {
  z-index: 9;
}

.img-container {
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 60px;
  height: auto;
  animation: floating 3s ease-in-out infinite;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
.img-container img {
  max-width: 100%;
  height: auto;
}

@media all and (max-width: 480px) {
  .img-container {
    width: 40px;
  }
}
@media all and (max-width: 320px) {
  .img-container {
    bottom: 20px;
    right: 10px;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

body {
  font-size: 16px;
  font-weight: 600;
  overflow-x: hidden;
  min-width: 320px;
  font-family: "Poppins", sans-serif;
  background-color: cyan;
}

p {
  line-height: 1.6em;
  font-size: 16px;
  font-weight: 400;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */